.navbar{
    display: flex;justify-content: space-between;align-items: center;z-index: 9999999999999999;
    background-color: rgb(24,39,59);position: fixed;top: 0;width: 100%;
}
.navbar .logo{
    padding-left: 8%;padding-top:.6rem;padding-bottom: .8rem;
}
.navbar .links{
    display: flex;gap: 5rem;
}
.links a::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: orangered;
    display: block;
    margin: auto;
    transition: .5s;
    margin-top: .3rem;
}
.links a:hover{color: orangered;}
.links a:hover::after{
    color: orangered;
    width: 100%;
}
.whatsup a:hover{
    color: orangered;
}
#scroll #member:hover{
    transform: scale(1.05);
}
.navbar .whatsup{
    padding-right: 8%;display: flex;align-items: center;
}
.navbar .hamberg{
    color: white;font-size: 2rem;padding-right: 2.5rem;align-items: center;
    display: none;
}

@media(max-width:1024px){
    .navbar .hamberg{
        display: block;
    }
    .navbar .links , .navbar .whatsup{
        display: none;
    }
    .navbar.links{
        flex-direction: column;position: absolute;top: 10vh;justify-content: center;align-items: center;
        display: flex;height: 90vh;width: 100%;background-color: rgba(24,39,59,.9);z-index: 1;gap: 2.3rem;
    }
    .links.active{
        left: 0;
    }
}

