
.service{
    text-align: center;padding: 1rem;z-index: -1;width: 100%;
}
.service_header h1{
    font-size: 2.5rem;font-family: arial;color: rgb(24,39,59);margin-top: 2.5rem;margin-bottom: 2.5rem;
}
.service_header h2{
color:rgb(24,39,59);font-family: arial;font-size: 2rem;margin-bottom: 2rem;
}
.crousel{
    padding: 0 8.5rem 0 8.5rem;
}
.crousel .cdiv1 p{
   font-size: 1.2rem;
}
.cdiv1 img{
    width: 100%;padding: 1rem;
}
.cdiv1 img:hover{
    transform: scale(1.08);
}